{% extends 'base.html' %}

{% block title %}
    <title>vmx-manager | 主机列表</title>
{% endblock %}

{% block hostlist %}active{% endblock %}

{% block body %}
    <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 云主机信息
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="/manager/add_host">
                                    <button type="button" class="am-btn am-btn-default am-btn-success">
                                        <span class="am-icon-plus"></span> 新增
                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-id">IP</th>
                                            <th class="table-title">名称</th>
                                            <th class="table-type">操作系统</th>
                                            <th class="table-type">CPU</th>
                                            <th class="table-date am-hide-sm-only">最近开机时间</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in host_list %}
                                        <tr>
                                            <td>{{ item.ip }}</td>
                                            <td>{{ item.host_name}}</td>
                                            <td>{{ item.os }}</td>
                                            <td>{{ item.cpu }}</td>
                                            <td>{{ item.last_login_time }}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a href="/manager/del_host/?id={{ item.id }}">
                                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
{#                                <div class="am-cf">#}
{##}
{#                                    <div class="am-fr">#}
{#                                        <ul class="am-pagination tpl-pagination">#}
{#                                            <li class="am-disabled"><a href="#">«</a></li>#}
{#                                            <li class="am-active"><a href="#">1</a></li>#}
{#                                            <li><a href="#">2</a></li>#}
{#                                            <li><a href="#">3</a></li>#}
{#                                            <li><a href="#">4</a></li>#}
{#                                            <li><a href="#">5</a></li>#}
{#                                            <li><a href="#">»</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
{% endblock %}